{% extends "registration/master_reg.html" %}

  {% block title %}
  <title>Sign up</title>
  {% endblock %}

  {% block heading %}
  <h4>Sign up</h4>
  <p>
    <a>Pathplotter can be freely accessed for review purposes only. This may change if it becomes too costly or time consuming to maintain.  Pathplotter is an experimental tool and is provided 'as-is' without support or warranty of any kind. Pathplotter has been developed as part of an academic research project and its functionality, security and resilience have not been professionally tested.  System administrators can access all data entered by users.  The developer bears no responsibility for data - including user data - losses or leaks, output errors, performance issues or lack of system availability.  By signing up, the user accepts all risks that the above implies.</a>
  </p>
  {% endblock %}
  
  {% block additional %}

  {% endblock %}