
  <style>
  img {
  width: 100px;
  height: auto
  }
  .static {
    cursor: not-allowed;
  }
  .editable {
    cursor: crosshair;
  }

  .draggable {
    cursor: move;
  }
  table {
    margin: 0;
    padding: 0;
  }
  svg {
    margin: 0;
    padding: 0;
  }

.patchtext {
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
  font-family: Arial;
}

.label {
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
  font-family: Arial;
}

.axistext {
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
  font-family: Arial;
}

.nodetext {
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
  font-family: Arial;
}

.ticktext {
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
  font-family: Arial;
}

.dropdown-item {
  font-size: 13px
}

.nav-item {
  font-size: 13px
}

.table td.fit, 
.table th.fit {
    white-space: nowrap;
    width: 1%;
}

nav a {
  text-decoration: none !important;
}



  </style>
