
  <style>
  img {
  width: 100px;
  height: auto
  }
  .static {
    cursor: not-allowed;
  }
  .editable {
    cursor: crosshair;
  }

  .draggable {
    cursor: move;
  }
  table {
    margin: 0;
    padding: 0;
  }

  td {
  padding: 0px;
  margin: 0px;
}

  svg {
    margin: 0;
    padding: 0;
  }

.patchtext {
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
  font-family: Arial;
}

.label {
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
  font-family: Arial;
}

.axistext {
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
  font-family: Arial;
}

.nodetext {
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
  font-family: Arial;
}

.ticktext {
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
  font-family: Arial;
}

.dropdown-item {
  font-size: 13px
}

.nav-item {
  font-size: 13px
}

/* .table td.fit, 
.table th.fit {
    white-space: nowrap;
    width: 1%;
} */

nav a {
  text-decoration: none !important;
}

#nav_version {
  /* font-size: 10px; */
  color: #AFD2EC;
}

/* #master_brand {
  color: #AFD2EC;
} */

.version_name {
  color: black;
}

.form-label {
  color: #1163A1;
}


.parent {
  color: #1163A1;
}

.form-check {
  color: #1163A1;
}

/* #sub_brand {
  color: #1163A1;
} */

/* #save-btn {
  color: white;
  background-color: #1163A1;
} */

  </style>
