
    <div class="row g-3">
      {%for field in form%}
      <div class="form-group col-md-12">
        <label class="form-label">{{field.label}}</label><br />
        {{field}}
      </div>
      {% if field.errors %} {% for error in field.errors %}
      <div style="color: red">{{ error|escape }}</div>
      {% endfor %} {%endif%} {%endfor%}
      <div class="form-group col-12">
        <input type="submit" class="btn btn-primary mt-3" value="Save" />
      </div>
      {% if form.non_field_errors %}
      <div style="color: red">{{ form.non_field_errors }}</div>
      {% endif %}
    </div>

