{% extends "master.html" %}

{% block title %}
    <title>Copy version</title>
{% endblock %}
{% block submenu %}

<div>
  <nav class="navbar navbar-expand-lg bg-light" id="network_nav">
    <div class="container-fluid">
      <a class="navbar-brand" id="sub_brand" href="#">Copy version</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">

          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="#">{{ name }}</a>
          </li>      
          
        </ul>
      </div>
    </div>
  </nav>
  </div>

{% endblock %}
{% block content %}

<div class="container">
  <p></p>
<form action="/copy-version/{{id}}" method="post">
  {%csrf_token%}
  {%if form%}
  {% include 'partials/object_form.html' %} 
  {%endif%}


  <input type="hidden" id="id" type="text" name="id" value={{id}}>
</form>
</div>
{% endblock %}
