{% extends "master.html" %}

{% block title %}
    <title>Welcome</title>
{% endblock %}
{% block submenu %}

<div>
  <nav class="navbar navbar-expand-lg bg-light" id="network_nav">
    <div class="container-fluid">
      <a class="navbar-brand" >Welcome</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">


        </ul>
      </div>
    </div>
  </nav>
  </div>

{% endblock %}

{% block content %}


{% endblock %}
