{% extends "master.html" %} {% block script %} {% load static %}
<script src="{% static '/js/legend_script.js' %}"></script>
<script src="{% static '/js/multi_plot_script.js' %}"></script>
{% endblock %} {% block title %}
<title>Node analysis</title>
{% endblock %} {% block submenu %}
<div>
  <nav class="navbar navbar-expand-lg bg-light" id="gantt_nav">
    <div class="container-fluid">
      <a class="navbar-brand sub-brand" id="sub_brand" href="#">Node analysis</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Other
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#" onclick="exportSVG('multi_plot')">Export image</a></li>
            </ul>  
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
{% endblock %} {% block content %}

<svg id="multi_plot" width="1000" height="1000" onload="getMulti('{{plot_data}}', '{{version_list}}', '{{params}}')"></svg>

{% endblock %}
