{% extends "master.html" %}

{% block title %}
    <title>Nodes</title>
{% endblock %}
{% block submenu %}
<div>
  <nav class="navbar navbar-expand-lg bg-light" id="network_nav">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Nodes</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">

          <li class="nav-item">
            <!-- <a class="nav-link" aria-current="page" href="/add-node/">Add node</a> -->
            <!-- <a class="nav-link" aria-current="page" data-bs-toggle="offcanvas" href="#nodeSidebar" role="button" aria-controls="offcanvasExample">Add node</a> -->
              <a class="nav-link" aria-current="page" href="/add-node/">Add node</a>
          </li>
          {% if standardise %}
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/standardise_nodes/">Standardise nodes</a>
          </li>               
          {% endif %}         
        </ul>
      </div>
    </div>
  </nav>
  </div>

{% endblock %}
{% block content %}
<div class="container">

<table class="table table-borderless align-middle w-auto mt-2">

<tbody>
  <tr>

      <td class="text-center">
        <a>Enabled</a></td>
      <td></td>
      <td></td>
    <td colspan=2>
      <div class="dropdown" >

        <button class="form-select" style="text-align: left;" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
          {{category}}
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <li><a class="dropdown-item" href="/nodes/all/">All categories</a></li>
          {% for x in categories %}
          <li><a class="dropdown-item" href="/nodes/{{ x.id }}/">{{ x.category_code }}: {{ x.category_text }}</a></li>
          {% endfor %}
      
        </ul>
      </div>
    </td>

    {% for x in nodes %}


<tr id="row{{x.id}}">
  <td>
    <div class="container" style="align-items: center;">
  <form method="post" id="switch{{x.id}}">
    <div class="form-check form-switch">
      {% if x.enabled %}
      <!-- <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" onchange=this.form.submit() checked> -->
      <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" value='{"id": {{x.id}}, "ob_type": "node"}' onchange="saveSwitch(this.value)" checked>
      {% else %}
      <!-- <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" onchange=this.form.submit()> -->
      <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" value='{"id": {{x.id}}, "ob_type": "node"}' onchange="saveSwitch(this.value)">
      {% endif %}
    </div>
  </form>
  </div>
  </td>

<td class="text-center"><form action="/edit-node/{{x.id}}" onsubmit="showPleaseWait()">
  <!-- <button type="submit" class="btn btn-secondary btn-sm">Edit</button> -->
  <input type="image" name="submit" src="/static/icons/pencil.svg" alt="Submit" style="width:20px;height:auto;"/>
</form></td>

<!-- <td class="text-center">
  <button class="btn btn-secondary btn-sm" onclick="editNode('{{x}}')">Edit</button>
</td> -->

<td class="text-center">
  <form id="del{{x.id}}" onsubmit="return false;">
  <!-- {% csrf_token %} -->
  <!-- <input type="hidden" id="del_node" type="text" name="del_node" value={{x.id}}> -->
  <!-- <button type="submit" class="btn btn-secondary btn-sm">Delete</button> -->
  <input type="image" src="/static/icons/trash3.svg" value='{"id": {{x.id}}, "ob_type": "node", "backup": true}' onclick="delAJAX(this.value)" style="width:20px;height:auto;"/>
</form>



</td>


  <td style="width: 50px">
    <a>{{x.category.category_code}}:{{x.node_code}}</a>
    </td>

  <td>
    <a>{{x.node_text}}</a>
    </td>

</tr>
{% endfor %}
</tbody>
</table>


<p></p>

</div>
{% endblock %}
